/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lekton:400,700);
@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps:400,700);

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;

  background-color: #FFF;
  background-image: url("../images/carpentry.jpg"); 
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}


/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/

.nav-bar {
  position: fixed;
  float: left;
  width: 300px;
  height: 400px;
  top: 0px;
  font-family: 'Lekton', sans-serif;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}

.nav-bar .title {
  display: block;
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  margin: 20px 50px 20px 5px;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}

.nav-bar ul {
  list-style-type: none;

}

.nav-bar li {
  text-align: right;
  margin: 40px 50px 40px 5px;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

.content-wrapper {
  position: relative;
  width: 72%;
  min-height: 85%;
  left: 24%;
  top: 10%;
  border-bottom: 100px;
}

.content, .content-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

 .content-background {
  z-index: -1;
  background-color: black;
  opacity: 0.33;
}


/*****************************************************************************/
/*
/* gallery
/*
/*****************************************************************************/

.photos {
}





