/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lekton:400,700);

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;

  background-color: #FFF;
  background-image: url("../images/carpentry.jpg"); 
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}


/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/

.nav-bar {

  position: fixed;

  float: left;
  width: 300px;
  height: 400px;
  top: 15%;

  font-family: 'Lekton', sans-serif;
  font-size: 20px;
  font-weight: bold;

  overflow: hidden;

  /*background-color: red;*/


}

.nav-bar a {
  text-decoration: none;
  color: black;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar li {
  margin: 40px 5px 40px 5px;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

.content-wrapper {
  position: relative;
  width: 75%;
  min-height: 80%;
  left: 20%;
  top: 10%;
  border-bottom: 100px;
}

.content, .content-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

 .content-background {
  z-index: -1;
  background-color: black;
  opacity: 0.33;
}


/*****************************************************************************/
/*
/* gallery
/*
/*****************************************************************************/

.photos {
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

