<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- JavaScript -->
        <script src="javascript/500px/500px.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script src="javascript/config.js"></script>
        <script src="config/config.jsonp"></script>
         <script>
         $(document).ready(function () {
              _500px.init({
                sdk_key: '6f521d4df56ee9fbfc00c1a3fd237643e0761594'
              });
          });
        </script>
    </head>
    <body>


        <div class="nav-bar">
            {% include nav-bar.html %}
        </div>

        <div class="content">
          {{ content }}
        </div>

    </body>
</html>




