
/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps:400,700);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,700,400italic);

/* Reset
------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html { 
	overflow-y: scroll;
	height: 100%;
}
body {
 background:#ffffff;
	font-size: 13px; 
	color: #666666; 
	font-family: Arial, helvetica, sans-serif;
	background-color: #FFF;
	height: 100%;
}
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0;}
h1 { 
	margin-bottom: 10px; 
	color: #111111;
	font-family: 'Cardo', serif;
}	
a, img { outline: none; border:none; color: #000; font-weight: bold;}
p { 
	margin: 0 0 10px;
	line-height: 1.4em; 
	font-family: 'Cardo', serif;
}
img { display: block;}
aside { font-style: italic; font-size: 0.9em;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
	}

/* comming soon page */
#comming-soon {
	width: 80%;
	height: 400px;
	padding: 10%;
	text-align: center;
}

#comming-soon h1 {
	margin-top: 15%;

	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 0px;
	color: #9C9595;
}

/* Structure */
#wrapper {
	height: 85%;
	width: 96%;	
	max-width: 920px;
	padding: 2%;
	margin: auto;
	} 

	#main {
		width: 60%;
		margin-right: 5%;
		float: left;
		}		
		
	aside {
		width: 35%;
		float: right;
		}

/* Header */

.header {
	width: 100%;
	color: #000;
	margin-top: 25px;
}

/* Logo H1 */
header h1 {
	height: 50px;
	width: 220px;
	float: left;
	display: block;
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 0px;
	color: #000000;
	}
		
/* Nav */
header nav {
	float: right;
	margin-top: 30px; 
	font-size: 15px;
	height: 35px;
	}
	
	header nav ul {
		height: 100%;

	}

	header nav li {
		display: inline;
		margin-left: 30px;
		text-align: center;
		
		}

			header nav li a {
				text-decoration: none;
				font-family: 'Rock Salt', cursive;
				font-weight: bold;

			}

#home.home {
	color: #900000;
}

#works.works {
	color: #900000;
}

#gallery.gallery {
	color: #900000;
}

#about.about {
	color: #900000;
}

#contact.contact {
	color: #900000;
}

#me.me {
	color: #900000;
}

#impressum {
	margin-top: 10%;
	text-align: center;
}

/* content */			
#frame {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	min-height: 85%;
	max-height: 85%;
	background-color: #492A2A;
	overflow: hidden;

	}

	#frame img {
		max-width: 100%;
		}


#frame .content {
	margin: 4% 7%;
	overflow: hidden;
}

	#frame .content h1 {
		font-family: 'Rock Salt', cursive;
		font-size: 15px;
		color: #BBB;
	}

	#frame .content p {
		font-size: 15px;
		color: #CEBEBE;
	}

/* Photos */

.photos {
	height: 100%;
	width: 100%;
	min-height: 500px;
	margin-bottom: 40px;
}

.photo {
	display: inline-block;

	height: 200px;
	width: 200px;
	/*background-color: white;	*/

	margin: 40px 0px 0px 9%; 
	cursor: pointer;
}

.photo img {
	width: 100%;
	-webkit-box-shadow: 1px 1px 26px rgba(86, 77, 74, 0.53);
	-moz-box-shadow:    1px 1px 26px rgba(86, 77, 74, 0.53);
	box-shadow:         1px 1px 26px rgba(86, 77, 74, 0.53);
}

#photo {
	display: none;
}
	#photo img {
		display: inline-block;
		margin: 3% 30% 0 30%;
		max-height: 85%;
	}
/* Media Queries */
@media screen and (max-width: 780px) {

	#wrapper {
		height: 95%;
	}

	#frame {
		min-height: 75%;
		max-height: 50%;
	}


    .header {
		border-bottom: none;
		width: 100%;
		min-height: 23%;
		max-height: 24%;
		margin-top: 0;
	}

	header h1 {
		width: 100%;
		height: 1em;
		font-size: 40px;
		text-align: center;
		margin-bottom: 7px;
	}
	
	header nav {
			height: 70%;
			font-size: 10px;
	}

	header nav, #main, aside {
			float: left;
			clear: left;
			margin: 0 0 0 0; 
			width: 100%;
		}	

		header nav ul {
		}

		header nav li {	
			margin: 0;
			background: #efefef;
			display: inline-block;
			box-sizing: border-box;
			margin-bottom: 3px;
			padding-top: .5em;
			height: 3em;
			width: 49%;
			}
			header nav a {
				/*margin-top: 1%;*/
				/*height: 100%;*/
				/*padding-top: 10px;*/
				display: block;
				box-sizing: border-box;
				/*height: 100%;*/
				text-align: center;
				}		
	}

}

